{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}赛事管理{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action active">总览</a>
				<a href='/' class="list-group-item list-group-item-action" style="text-decoration-line: none">
					日程
				</a>
				<a href="{% url 'org:org_create_article' %}" class="list-group-item list-group-item-action">
					信息发布
				</a>
				<a href="{% url 'orgnisation:orgOperationView' %}" class="list-group-item list-group-item-action" style="text-decoration-line: none">
					赛事管理
				</a>
			</div>
		</div>
	<div class="col-md-9">
		<h1>{{ chs_to_check.chsName }}</h1>
				<h4>详情如下：</h4>
		{{ chs_to_check.chsType }}
		{{ chs_to_check.startTime }}
		{{ chs_to_check.endTime }}
		{{ chs_to_check.capacity }}
			<div class="row">
				<div class="col-md-4">
					<a class="btn btn-primary">查看赛程</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn-primary" href="{% url 'org:generate_timetable' user.userInOrg.id chs_to_check.id chs_to_check.capacity %}">生成赛程</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn-primary" href="{% url 'org:org_view_chs' user.userInOrg.id %}">返回</a>
				</div>
			</div>
	</div>
	</div>

{% endblock %}