{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}足球赛事管理信息系统{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">总览</a>
				<a href='/' class="list-group-item list-group-item-action" style="text-decoration-line: none">
					日程
				</a>
				<a href="{% url 'org:org_create_article' %}" class="list-group-item list-group-item-action">
					信息发布
				</a>
				<a href="#" class="list-group-item list-group-item-action active" style="text-decoration-line: none">
					俱乐部管理
				</a>
			</div>
		</div>
		<div class="col-md-9">
			<h1>{{ club.orgName }}</h1>
			<h3>旗下球队：</h3>
{#			<select name="team_select">#}
				{% for team in teams %}
					<li class="list-group-item">
					<a href="{% url 'org:team_player_list_op' user.userInOrg.id team.id %}">{{ team.teamName }}</a>
					</li>
{#				<option value={{ team.id }}>{{ team.teamName }}</option>#}
				{% endfor %}
{#			</select>#}
{#		<a class="btn" href="{% url 'org:team_player_list_op' user.userInOrg.id team_selected %}">查询或修改此球队</a>#}
		</div>

	</div>
{% endblock %}