{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}赛事管理{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="{% url 'orgnisation:orgIndexView' %}" class="list-group-item list-group-item-action">总览</a>
				<a href='/' class="list-group-item list-group-item-action">
					日程
				</a>
				<a href="{% url 'article:org_create_article' %}" class="list-group-item list-group-item-action">
					信息发布
				</a>
				<a href="{% url 'orgnisation:orgOperationView' %}" class="list-group-item list-group-item-action active">
					赛事管理
				</a>
			</div>
		</div>

		<div class="col-md-9">
			<span style="align-items: center">
			<div class="btn-group btn-group-lg" role="group">

			</div>
			</span>
		</div>

{% endblock %}