{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}足球赛事管理信息系统{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action active">总览</a>
				<a href='#' class="list-group-item list-group-item-action" style="text-decoration-line: none">
					日程
				</a>
				<a href="#" class="list-group-item list-group-item-action">
					信息发布
				</a>
				<a href="#" class="list-group-item list-group-item-action" style="text-decoration-line: none">
					赛事管理
				</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<ul>
						{% for article in articles %}
							<li class="list-item">
								<a href="{% url 'article:view_article' article.id %}">{{ article.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						{% if articles.has_previous %}
							<li>
								<a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}



						{% if articles.has_next %}
							<li>
								<a href="?page={{ articles.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>

				<div class="pageturn navigation">
    					<ul class="pagination">
							{% if articles.has_previous %}
								<li>
									<a href="?page={{ articles.previous_page_number }}" >previous</a>
								</li>
							{% endif %}


							<li >
								<a href="">Page {{ articles.number }} of {{ articles.paginator.num_pages }}.</a>
							</li>


							{% if articles.has_next %}
								<li>
									<a href="?page={{ articles.next_page_number }}">next</a>
								</li>
							{% endif %}
    					</ul>
					</div>

			</div>
		</div>
	</div>
{% endblock %}